<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wilddreams</title>
    <style>

       body{
            background-color: #89e8b2;
            text-align:center;
       }
    </style>
</head>
<body>
    <h1> pretty stuff! </h1>

    <a href ='https://scratch.mit.edu/projects/57999826/'>go to a fun scratch game!!</a>
    <br>
<iframe src="https://giphy.com/embed/MNVytdmeCGdCATWYbz" width="240" height="240" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
</body>
</html>