<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wilddreams</title>
    <style>

       body{
            background-color: #89e8b2;
            text-align:center;
       }
    </style>
</head>
<body>
    <h1> help </h1>

    <br>
    <p>
        a short summary of this website is you basically click the link and it'll take you to a scratch game or something
    </p>
<!--<iframe src="https://giphy.com/embed/MNVytdmeCGdCATWYbz" width="240" height="240" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>-->
</body>
</html>